@charset "utf-8";
/* 全局样式 */
body{ padding:0; margin:0; font-size:14px; background:fff; font-family:"微软雅黑"}
ul,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,form,p { padding:0; margin:0; list-style:none}
ul{list-style:none;}
img{border:0px;}
.ftion ul li a:hover{border:1px solid #fff;}
.getout li a:hover{color:#f93; text-decoration:underline}

/*head样式*/
.head{width:100%;height:110px; float:left}
.top{width:1190px; height:110px; margin:0 auto}
.top a{display:block; height:auto; width:auto; float:left; text-align:center}
.top a.telephone{margin-left:83px;}
.getout{width:293px; height:32px; float:right}
.getout li{width:100%; height:100%; line-height:32px}
.getout li a{float:right;display:block}
.getout li span{float:right; display:block; margin:0 10px 0 10px}
.search{width:293px; height:38px; float:right; margin-top:18px}
.search input{width:235px; height:26px; margin:7px 0 7px 5px; background:none; border:none;outline:none; line-height:24px; text-indent:14px;color:#03a9f5; float:left;}
.search a{display:block; width:50px; height:38px; float:right;}



/*底部样式*/
.boot{width:100%; height:180px; background:#0e1d34; float:left; margin-top:20px}
.bot{width:1190px; height:auto; margin:0 auto;}
.bot ul{width:100%; height:auto;}
.bot ul li{width:100%; height:24px; text-align:center;line-height:24px; color:#FFF}
.bot ul li.bt_menu{margin:10px 0 10px 0}
.bot ul li a{text-decoration:none; color:#FFF; margin:0 10px 0 10px}
/*底部样式结束*/
